# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# ignore vscode dir
.vscode

### Above combination will ignore all files without extension ###

# Ignore files with extension `.class` & `.exe`
*.class
*.exe